.feedback-form {
  display: flex;
  width: 408px;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 24px 24px;
  gap: 8px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 8px;
  background: #fff;
}

input {
  width: 344px;
  height: 40px;
  padding-left: 16px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1, 5;
  letter-spacing: 0.04em;
}

textarea {
  width: 344px;
  height: 80px;
  resize: none;
  padding-left: 16px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1, 5;
  letter-spacing: 0.04em;
}

button {
  width: 95px;
  height: 40px;
  border-radius: 8px;
  background: #4e75ff;
  margin-top: 8px;
  border: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

button:hover,
button:focus {
  background-color: #6c8cff;
}
